body {
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh; /* Adjust the height as needed */
    background-color: rgb(0, 0, 33);
}
  
.arcade-console {
    /* Styles for the Arcade console section */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    border: 10px solid rgb(255, 255, 0);
    border-radius: 20px;
    box-shadow: inset 0 0 20px rgb(255, 255, 0);
}
    
.arcade-screen {
    /* Styles for the Arcade screen section */
    width: 80%;
    height: 60%;
    background-color: rgb(0, 0, 33);
    border: 5px solid rgb(255, 255, 0);
    border-radius: 10px;
}
    
.arcade-controls {
    /* Styles for the Arcade controls section */
    width: 80%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
    
.arcade-button {
    /* Styles for the Arcade buttons */
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
}
    
.arcade-button.red {
    /* Styles for the red button */
    background-color: rgb(255, 0, 0);
}
    
.arcade-button.green {
    /* Styles for the green button */
    background-color: rgb(0, 255, 0);
}
    
.arcade-button.blue {
    /* Styles for the blue button */
    background-color: rgb(0, 0, 255);
}
    
.arcade-joystick {
    /* Styles for the joystick */
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: none;
    background-color: rgb(255, 255, 0);
}
  
.about-me {
    /* Styles for the about-me section */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 33);

}


.profile {
    /* Styles for the profile section */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
    
.profile-photo {
    /* Styles for the profile photo */
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}
    
.profile-name {
    /* Styles for the profile name */
    font-size: 36px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgb(255, 255, 0);
}
    
.profile-intro {
    /* Styles for the profile intro */
    font-size: 18px;
    font-family:fantasy;
    color: white;
    text-align: center;
}

.options {
    /* Styles for the options section */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}
    
.option {
    /* Styles for the option buttons */
    width: 200px;
    height: 50px;
    font-size: 24px;
    color: white;
    background-color: rgb(0, 0, 33);
    border: 5px solid rgb(255, 255, 0);
    border-radius: 10px;
}
    
.option:hover {
    /* Styles for the option buttons on hover */
    transform: scale(1.1);
}
    
.option.play {
    /* Styles for the play button */
    font-family: fantasy;
    color: white;
}
    
.option.projects {
    /* Styles for the projects button */
    font-family: fantasy;
    color: white;
}
  

/*Canvas styling*/

canvas {
    width: 100%;
    height: 100%;
    box-shadow: black 20px 10px 50px;
}


@media screen and (max-width: 600px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
}